:root {
  --main-bg-color: #fffffe;
  --second-bg-color: #e3f6f5;
  --headline-color: #272343;
  --text-color: #2d334a;
  --btn-bg-color: #ffd803;
  --btn-fg-color: #272343;
  --link-fg-color: #bae8e8;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0px;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

input, button {
  color: var(--btn-fg-color);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0 0.4em 0 0.4em;
  border: 2px solid var(--headline-color);
  font-size: 1.5rem;
}

input[type='text'] {
  width: 100%;
}

button {
  background-color: var(--btn-bg-color);
  margin-left: 0.4em;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

.app {
  padding: 1rem;
}

.header {
  margin-bottom: 2em;
}

.flx {
  display: flex;
  flex-direction: row;
}

.flx-left {
  justify-content: flex-start;
}

.flx-right {
  justify-content: flex-end;
}

.flx-center {
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--headline-color);
  border-radius: 5px;
  background-color: var(--second-bg-color);
}

.question-list {
  margin-bottom: 1em;
}

.question-cont {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: var(--main-bg-color);
}

.question {
  font-weight: bold;
  margin-bottom: 0.4em;
}

.option label {
  margin-left: 0.4em;
  font-size: 1.2em;
}

#btn-submit {
  float: right;
}

.scorehero {
  text-align: center;
}

.score {
  font-weight: 900;
  font-size: 5em;
}
